.radio_style{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-color: #c3c6d4;
    border-radius: 9999px;
    margin-top: 1rem;
    padding: 8px 16px;
    color: #676879;
    span{
        margin-left: 1px;
    }
}